/*///////////////// GENERAL SETTINGS ///////////////////////////*/
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: white;
    background-image: url('../img/chameleons2.jpg');
    background-size: cover;
    background-position-y: 55px;
    background-repeat: no-repeat;
    background-color: #FF8000;

}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}


h1 {
    font-size: 1.4em;
    color: #C7CB7F;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 0.8em;
}

p {
    font-size: .95em;
    line-height: 1.2em;
    color: #ffe8d1;
}




/*///////////////// Navigation ///////////////////////////*/
header {
    max-width: 100%;
    background-color: #A8BA45;
    height: 55px;
    top: 0px;
    border-bottom: 3px solid #FF8000;

}

nav {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


nav ul li {
    display: inline-block;
    line-height: 55px;
    margin-right: 30px;
}

nav ul li a {

    text-decoration: none;
    color: #754c24;

}

nav ul li a:hover,
a:active {
    /*background-color: rgba(51,34,17, 0.1);*/
    color: #ffe8d1;
    transition: all 0.2s;

}


.stages {
    position: relative;
    width: 700px;

}

.infobox {
    width: 200px;
    height: 150px;
    background-color: rgba(175, 150, 149, 0.5);
    border-radius: 5px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding: 20px;
    font-size: 1.1em;
    color: #ffe8d1;

}

.infobox span {
    display: block;
    height: 35px;
    color: #FF8000;
    font-weight: 700;
    font-size: 1.2em;
    border-bottom: 2px solid #FF8000;


}


/*///////////////// Main Content ///////////////////////////*/

main {
    flex: 1;
}

main .content {
    width: 750px;
    margin: 60px auto;
    padding-left: 30px;
    padding-right: 50px;

}

/*////////// Create account/ signup /////////////////*/
input[type=password].pass {
    margin-top: 5px;
    width: 140px;
    height: 25px;
    border-style: none;
    font-size: 1em;
}

div .acc {
    width: 350px;
    background-color: rgba(175, 150, 149, 0.5);
    border-radius: 5px;
    padding: 20px;
}





/*////////// create/ new post /////////////////*/
.box_new_post {
    width: 450px;
    background-color: rgba(175, 150, 149, 0.5);
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

textarea.article_new_post {
    width: 400px;
    height: 250px;
    font-size: 16px;
}

input[type=text].title_new_post {
    margin-top: 5px;
    width: 400px;
    height: 25px;
    border-style: none;
    font-size: 16px;
    font-family: monospace;
}

input[type=button].btn {
    margin-top: 5px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #9cb10a;
    border: 1px solid white;
    color: white;
    text-shadow: .5px .5px gray;
    cursor: pointer;
}



/*////////// edit post /////////////////*/

textarea.edit_post {
    width: 400px;
    height: 250px;
    font-size: 16px;
}






/*////////// signin form  /////////////////*/
div .box {
    width: 350px;
    background-color: rgba(175, 150, 149, 0.5);
    border-radius: 5px;
    padding: 20px;
}

/*////////// blog posts /////////////////*/




div .post_box {
    width: 700px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgba(51, 34, 17, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #ffe8d1;

}

div .post_txt h3 {

    font-size: 1em;
    ;
    margin-bottom: 10px;
}

.details {
    border-top: 1px solid rgba(255, 128, 0, 0.5);
    height: 35px;
    width: 100%;
    top: 20px;
    position: absolute;
    position: relative;
    color: #a39486;
    font-weight: 400;
}

.left {
    height: 20px;
    font-size: 0.8em;
    float: left;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.right {
    height: 20px;
    font-size: 0.8em;
    float: right;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.right a {
    color: #FF8000;
    text-decoration: none;
}

.right a:hover {
    color: #9cb10a;
    text-decoration: underline;
}


/*///////////////// FORM ///////////////////////////*/
input[type=text] {
    margin-top: 5px;
    width: 300px;
    height: 25px;
    border-style: none;
    font-size: 1em;
}

input[type=password] {
    margin-top: 5px;
    width: 300px;
    height: 25px;
    border-style: none;
    font-size: 1em;
}

input[type=submit] {
    margin-top: 5px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #9cb10a;
    border: 1px solid white;
    color: white;
    text-shadow: .5px .5px gray;
    cursor: pointer;
}

input[type=button] {
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 1em;
    background-color: #9cb10a;
    border: 1px solid white;
    color: white;
    text-shadow: .5px .5px gray;
    cursor: pointer;


}

.error {

    background-color: red;
    color: white;
    font-size: 0.8em;
}

.sm-box {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    background-color: #9cb10a;
    border-radius: 5px;
    text-align: center;
    position: relative;
    color: white;
    padding: 10px;

}



/*///////////////// Footer ///////////////////////////*/

footer {
    background-color: #1E0D03;
    min-height: 100px;
}

footer h3 {
    text-align: center;
    line-height: 100px;
    color: #C7CB7F;
    opacity: 0.5;
}










/* Extra-small */
@media screen and (max-width: 360px) {}

/* Small */
@media screen and (min-width: 361px) and (max-width: 480px) {
    /* ... */
}

/* Medium-only */
@media screen and (min-width: 481px) and (max-width: 960px) {
    /* ... */
}

/* ... */








/*///////////////// Colors ///////////////////////////*/
/*

#1E0D03 footer bg 
#DAE97B
#BEBB55
#3A2417

#332211,
#54371F,
#FF8000,
#FFE8D1,
#FF5252,
#332211,
#54371F,
#FF8000


*/