@import url('https://fonts.googleapis.com/css?family=Lato:100,400');



@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }

        @media screen and (min-width: $min-screen) {
            @each $property in $properties {
                #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
            }
        }

        @media screen and (min-width: $max-screen) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
    $a: ($max-value - $min-value) / ($max-screen - $min-screen);
    $b: $min-value - $a * $min-screen;

    $sign: "+";

    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }

    @return calc(#{$a*100}vw #{$sign} #{$b});
}



/*///////////////// GENERAL SETTINGS ///////////////////////////*/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    @include interpolate(font-size, 320px, 1366px, 14px, 20px);
    background-color: whitesmoke;

}

.container {
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(97, 97, 97, 0.651);
    min-height: 100vh;
}



/* Multiple properties with same values */
h1,
h2,
h3,
h4,
h5 {
    @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);
}




/*///////////////// Header and Navigation ///////////////////////////*/
header {
    background-color: #A8BA45;


}

nav {
    display: flex;
    justify-content: center;
    height: 50px;
    border-bottom: 3px solid #FF8000;
    // align-items: center;
}

nav ul {
    list-style: none;
    margin: 1rem;
}

.ul_site,
.ul_user {
    display: flex;
}

.ul_site li a,
.ul_user li a {
    display: inline-block;
    text-decoration: none;
    margin: 0 .5rem;
    color: #754C24;
}

.nav_logo {
    z-index: 5;
}




// nav ul li {}

// nav ul li a {}

// nav ul li a:hover,
// a:active {}


// .stages {}

// .infobox {}

// .infobox span {}


/*///////////////// Main Content ///////////////////////////*/

main {
    background-color: lightgray;

}

// main .content {}

/*////////// Create account/ signup /////////////////*/
// input[type=password].pass {}

// div .acc {}





/*////////// create/ new post /////////////////*/
// .box_new_post {}

// textarea.article_new_post {}

// input[type=text].title_new_post {}

// input[type=button].btn {}



/*////////// edit post /////////////////*/

// textarea.edit_post {}






/*////////// signin form  /////////////////*/
// div .box {}

/*////////// blog posts /////////////////*/




// div .post_box {}

// div .post_txt h3 {}

// .details {}

// .left {}

// .right {}

// .right a {}

// .right a:hover {}


/*///////////////// FORM ///////////////////////////*/
// input[type=text] {}

// input[type=password] {}

// input[type=submit] {}

// input[type=button] {}

// .error {}

// .sm-box {}



/*///////////////// Footer ///////////////////////////*/

footer {
    background-color: #1E0D03;
    color: rgba(199, 203, 127, .3);
    padding: .8rem;


}

footer h5 {
    font-weight: thin;
    text-align: center;
}









/* Extra-small */
@media screen and (max-width: 360px) {
    .nav_logo {
        // display: none;
    }
}

/* Small */
@media screen and (min-width: 361px) and (max-width: 480px) {
    /* ... */
}

/* Medium-only */
@media screen and (min-width: 481px) and (max-width: 960px) {
    /* ... */
}

/* ... */








/*///////////////// Colors ///////////////////////////*/
/*

#1E0D03 footer bg 
#DAE97B
#BEBB55
#3A2417

#332211,
#54371F,
#FF8000,
#FFE8D1,
#FF5252,
#332211,
#54371F,
#FF8000


*/