@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
/*///////////////// GENERAL SETTINGS ///////////////////////////*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

body {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(0.57361vw + 12.16444px);
  }
}

@media screen and (min-width: 1366px) {
  body {
    font-size: 20px;
  }
}

/* Multiple properties with same values */
h1,
h2,
h3,
h4,
h5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (min-width: 20rem) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: calc(1vw - 0.2rem);
    padding-bottom: calc(1vw - 0.2rem);
  }
}

@media screen and (min-width: 70rem) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/*///////////////// Header and Navigation ///////////////////////////*/
header {
  background-color: #A8BA45;
  border-bottom: 3px solid #FF8000;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 670px;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_logo {
  z-index: 5;
  margin: 0 1rem;
}

.ul_site {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.ul_user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.ul_site li a,
.ul_user li a {
  display: inline-block;
  text-decoration: none;
  margin: 0 1rem;
  color: #754C24;
}

nav ul li a:hover,
a:active {
  /*background-color: rgba(51,34,17, 0.1);*/
  color: #ffe8d1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*///////////////// Main Content ///////////////////////////*/
main {
  position: relative;
  background-image: url("../img/db_1920x1150.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content {
  margin-top: 3rem;
  padding: 2rem;
  width: 100%;
  max-width: 700px;
}

h1 {
  color: #c7cb7f;
}

p {
  color: #ffe8d1;
}

/*////////// Create account/ signup /////////////////*/
/*////////// create/ new post /////////////////*/
/*////////// edit post /////////////////*/
/*////////// signin form  /////////////////*/
/*////////// blog posts /////////////////*/
/*///////////////// FORM ///////////////////////////*/
/*///////////////// Footer ///////////////////////////*/
footer {
  background-color: #1E0D03;
  color: rgba(199, 203, 127, 0.4);
  padding: .8rem;
  min-width: 100vw;
  grid-row-end: -1;
  position: fixed;
  left: 0;
  bottom: 0;
}

footer h5 {
  font-family: arial;
  font-weight: 100;
  text-align: center;
}

/*///////////////// Colors ///////////////////////////*/
/*

#1E0D03 footer bg 
#DAE97B
#BEBB55
#3A2417

#332211,
#54371F,
#FF8000,
#FFE8D1,
#FF5252,
#332211,
#54371F,
#FF8000


*/
