@import url('https://fonts.googleapis.com/css?family=Lato:100,400');



@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }

        @media screen and (min-width: $min-screen) {
            @each $property in $properties {
                #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
            }
        }

        @media screen and (min-width: $max-screen) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
    $a: ($max-value - $min-value) / ($max-screen - $min-screen);
    $b: $min-value - $a * $min-screen;

    $sign: "+";

    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }

    @return calc(#{$a*100}vw #{$sign} #{$b});
}



/*///////////////// GENERAL SETTINGS ///////////////////////////*/


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

ul {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Lato', sans-serif;
    @include interpolate(font-size, 320px, 1366px, 14px, 20px);
    height: 100vh;
    background: #54371F url('../img/big_bg.jpg') no-repeat center center / cover;
    color: whitesmoke;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;

}




/* Multiple properties with same values */
h1,
h2,
h3,
h4,
h5 {
    @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);
}




/*///////////////// Header and Navigation ///////////////////////////*/
header {
    background-color: #A8BA45;
    border-bottom: 3px solid #FF8000;
    height: 50px;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    // background-color: lightblue;
    width: 100%;
    max-width: 670px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav_logo {
    z-index: 5;
    margin: 0 1rem;
}


.ul_site {

    justify-content: flex-start;
    width: 50%;
    // background-color: pink;

}

.ul_user {

    justify-content: flex-end;
    width: 50%;
    // background-color: yellow;
}

.ul_site li a,
.ul_user li a {
    display: inline-block;
    text-decoration: none;
    margin: 0 1rem;
    color: #754C24;
    // background-color: green;
}

nav ul li a:hover,
a:active {
    color: #ffe8d1;
    transition: all 0.2s;
}



/*///////////////// Main Content ///////////////////////////*/

main {
    margin: 0 auto;
}

// main::after {
//     content: '';
//     position: absolute;
//     background: url('../img/db_1920x1150.jpg');
//     object-fit: cover;
// }

main .content {
    margin-top: 4.2rem;
    padding: 2rem;
    background-color: rgba(255, 128, 0, .1);
    border-radius: 5px;
    @include interpolate(width, 320px, 1366px, 300px, 700px);
}


h1 {
    color: rgb(199, 203, 127);
}

p {
    color: rgb(255, 232, 209);
}


///////////////////// Home page //////////////////////

.stages {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #fff;
}

.infobox {
    width: 180px;
    background-color: rgba(175, 150, 149, 0.5);
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    color: #ffe8d1;
    cursor: pointer;

}

.infobox span {
    font-weight: 700;
    display: block;
    height: 2rem;
    color: #FF8000;
    border-bottom: 2px solid #FF8000;

}


@media only screen and (max-width: 651px) {
    body {

        background-attachment: fixed;
    }

    .stages {
        flex-direction: column;
    }
}


/*////////// Create account/ signup /////////////////*/
// input[type=password].pass {}

// div .acc {}





/*////////// create/ new post /////////////////*/
// .box_new_post {}

// textarea.article_new_post {}

// input[type=text].title_new_post {}

// input[type=button].btn {}



/*////////// edit post /////////////////*/

// textarea.edit_post {}






/*////////// signin form  /////////////////*/
// div .box {}

/*////////// blog posts /////////////////*/




// div .post_box {}

// div .post_txt h3 {}

// .details {}

// .left {}

// .right {}

// .right a {}

// .right a:hover {}


/*///////////////// FORM ///////////////////////////*/
// input[type=text] {}

// input[type=password] {}

// input[type=submit] {}

// input[type=button] {}

// .error {}

// .sm-box {}



/*///////////////// Footer ///////////////////////////*/

footer {
    background-color: #1E0D03;
    color: rgba(199, 203, 127, .4);
    padding: .8rem;
    min-width: 100vw;
    grid-row-end: -1;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer h5 {
    font-family: arial;
    font-weight: 100;
    text-align: center;
}









/*///////////////// Colors ///////////////////////////*/
/*

#1E0D03 footer bg 
#DAE97B
#BEBB55
#3A2417

#332211,
#54371F,
#FF8000,
#FFE8D1,
#FF5252,
#332211,
#54371F,
#FF8000


*/